<div class="cool">My Beautiful Designs</div>
<img src="assets/images/arrow-down.svg" alt="arrow-down">
<div class="mt-4">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'" [type]="'carousel-multi-item'">
        <mdb-carousel-item>
            <div class="image">
                <img class="d-block w-100" src="assets\images\Rectangle 12carousel-1.png" alt="First slide">
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="image">
                <img class="d-block w-100" src="assets\images\Rectangle 12carousel-2.png" alt="Second slide">
            </div>
        </mdb-carousel-item>
        <mdb-carousel-item>
            <div class="image">
                <img class="d-block w-100" src="assets\images\Rectangle 13carousel-3.png" alt="Third slide">
            </div>
        </mdb-carousel-item>
    </mdb-carousel>
</div>