.cool {
    font-family: 'PTSans-Regular', 'sans-serif';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-top: 3rem;
}

img {
    margin: auto;
    display: flex;
    margin-top: 1rem;
}

.image{
    
}