<div class="flex">
  <span class="image-1"><img src="assets/images/vector1.svg" alt="image"></span>
  <h1 class="prakash-sharma">PRAKASH SHARMA</h1>
  <div class="line"></div>
  <div class="mobile">Mobile Application Developer</div>
  <div class="def">Love to write code
    and solve the realworld problem using mobile technology.</div>
  <div class="cool">My Cool Projects</div>
  <img src="assets/images/arrow-down.svg" alt="arrow-down" class="arrow-down">
</div>

<div class="container mt-15">
  <div class="container set-height" *ngFor="let project of projects; let i=index">
    <img src={{project.imageUrl}} alt="screen" [ngStyle]="{'float': i%2==0 ? 'right' : 'left'}" class="padding">
    <div class="item-wrap padding">
      <h1 class="heading">{{project.header}}</h1>
      <h6 class="sub-header">About</h6>
      <ul class="list-style">
        <li *ngFor="let item of project.aboutList">{{item}}</li>
      </ul>
      <h6 class="sub-header">Technical Details & Challenges</h6>
      <div class="list-style">
        <section> {{project.technicalDetails}}
        </section>
        <br>
        <section>
          {{project.challenges}}
        </section>
      </div>
    </div>
  </div>

  <app-my-libraries></app-my-libraries>
  <app-my-designs></app-my-designs>
</div>